.form {
}
.form > div {
    padding: 0.4rem 0;
    display:flex;
    gap: 1rem;
}

.form label, .form label span {
    display: block;
    margin-bottom: 8px;
}

.form input,
.form select {
    box-sizing: border-box;
}
.form input[type=text], .form input[type=email]{
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 8px;
    outline:0;
    height:1.8rem;
}

.form button {
    padding: 0.4rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--purple);
    color: var(--white);
}

.form .error-message {
    color: var(--white);
    margin-top: -10px;
    margin-bottom: 10px;
}

.form label input[type=checkbox] {
margin-right: 6px;
margin-top: 8px;
}


