.wrapper {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 2rem;
  min-height: 100vh;
  flex-basis: calc((100vw / 5) * 4);
}

.main header {
  margin-bottom: 2rem;
}
.main h1 {
  font-size: 1.4rem;
}